.filterMenu {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  color: white;
}

.icon {
  margin-bottom: 5px;
  cursor: pointer;
}

.filter {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  border-radius: 8px;
  overflow: hidden;
  z-index: 5;
}

